@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.mainPage {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.home {
  width: 100vw;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 1rem;
}
.logInPage {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/parker-gibbons-Wx6oQRl7Wa0-unsplash.jpg");
  background-size: cover;
  background-position: center top;
}
.logInPage img {
  width: 50vw;
}

.logInPage button {
  background: #42bccd;
  color: white;
  margin-top: 1rem; 
}
.btn-primary {
  background: #42bccd;
  color: white;
}
.navLogo {
  height: 2rem;
}
.cardForm {
  width: 40vw;
  margin: 0;
}
